@font-face {
    font-family: 'li-ador';
    font-style: normal;
    font-weight: normal;
    src:  url('/fonts/reguler.ttf') format('truetype');
}

@font-face {
    font-family: 'li-ador-b';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/bold.ttf') format('truetype');
} 

  .ador{

    font-family: li-ador;
  }
  .ador-b{

    font-family: li-ador-b;
  }
.herofont{
    font-size: 60px
}

.buttoncolor{
    background-color: #6495ED;
}

.bgcolor{
    background-color: #1C1C1E;
}

